@using JsonFileLocalization.ViewLocalization
@using Microsoft.AspNetCore.Mvc.Localization
@{
    @inject IViewLocalizer Localizer
    //or you can use extended localizer with json support json
    @inject IViewExtendedLocalizer ExtendedLocalizer
}
@model JsonFileLocalization.Example.Model.IndexModel
@{
    string currentController = ViewContext.RouteData.Values["Controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <title>Hi</title>
</head>
<body>
    <a asp-controller="@currentController" asp-action="Index" asp-route-lang="en">To en</a>
    <a asp-controller="@currentController" asp-action="Index" asp-route-lang="ru">To ru</a>
    <div>
        <p>@ViewBag.Something</p>
    </div>
    <div>
        <p>@Localizer["ViewData"]</p>
    </div>
    <div>
        @foreach (var str in ExtendedLocalizer.GetLocalizedObject<string[]>("Data").Value)
        {
            <p>@str</p>
        }
    </div>
    <form asp-controller="Home" asp-action="Index" method="post">
        <span asp-validation-for="Value"></span>
        <label>
            <input type="text" asp-for="Value" />
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>